{%- assign social = site.social_links -%}
<footer>
  <section id="footer">
    <ul class="icons">
      <li><a href="https://www.facebook.com/{{ social.facebook }}" title="{{ social.facebook }}"
          class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
      <li><a href="https://www.linkedin.com/in/{{ social.linkedin }}" title="{{ social.linkedin }}"
          class="icon brands alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
      <li><a href="https://github.com/{{ social.github }}" title="{{ social.github }}"
          class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
      <li><a href="https://www.instagram.com/{{ social.instagram }}" title="{{ social.instagram }}"
          class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" title="Resume" class="icon solid alt fa-file-alt"><span class="label">Resume</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Tyler Yep</li>
    </ul>
  </section>
  <script src="{{ '/util/prism.js' | relative_url }}"></script>
</footer>