html {
  position: relative;
  min-height: 100%;
  font-size: 18px; // 1rem == 16px
  box-sizing: border-box;
  min-width: 320px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// Content padding & width-limiting
.content {
  max-width: calc(750px + 2rem);
  margin: 0 auto;
  position: relative;
  padding: 1rem;
}

body, h1, h2, h3, h4, h5, h6, p, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", Verdana, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  @extend .colors-default-light;

  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// Set `margin-bottom` to maintain vertical rhythm
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, figure, %vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

h1 {
  font-size: 2em;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

.wrapper {
  max-width: -webkit-calc(#{$content-width});
  max-width:         calc(#{$content-width});
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;

  @media screen and (min-width: $on-large) {
    max-width: -webkit-calc(#{$content-width});
    max-width:         calc(#{$content-width});
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

.orange {
  color: $orange-color;
}

.grey {
  color: $grey-color;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom;
}

table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  box-sizing: default;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}

// Only display content to screen readers
// See: http://a11yproject.com/posts/how-to-hide-content/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Spaced out inline navigation
ul.inline-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    padding: 0 0;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &::after {
      content: ' · ';
    }
    &:last-child::after {
      content: '';
    }
  }
}

// Chips are "action links" for navigation, etc.
.chip {
  display: inline-block;
  font-size: 1rem;
  padding: 0 1rem;
  height: 2rem;
  line-height: 2rem;
  border: 1px solid;
  border-radius: 5px;
}

// global light source means all shadows are the same
.shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

// Arrows are arrows
.arrow-left {
  @extend .shadow;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  background: white;
  border-radius: 50%;
  &:hover {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
  }
  &::after {
    content: '';
    display: inline-block;
    background: url(images/arrow-left.png) center no-repeat;
    height: 3rem;
    width: 3rem;
    background-size: 100%;
    opacity: 0.5;
  }
}

.arrow-left {
  @extend .arrow-left;
}

hr {
  display: block;
  border: none;
  color: inherit;
  height: auto;

  &::before {
    display: block;
    content: '···';
    text-align: center;
    margin: 0.5rem 0;
  }
}

.text-right {
  text-align: right;
}

.page-nav {
  display: block;
  width: auto;
  overflow: hidden;
}

.page-nav a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.page-nav .page-next {
  text-align: right;
}
