// =============================================================
// Masthead component - for page & article titles
// =============================================================
.masthead {
  @extend .colors-blue-dark;
  padding: 5em 0;
  background-color: #4686a0;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed,	fixed, fixed;
  background-image: url("images/overlay2.png"), url("images/overlay3.svg"), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;

  .arrow-left {
    position: absolute;
    left: -6rem;
    top: 50%;
    margin-top: calc(-48px / 2);
  }

  .intro {
    font-weight: 300;
    font-size: 1.5rem;
    color: $light-blue-200;
  }

  h1 {
    font-size: 4rem;
    margin: 0;
    @media screen and (max-width: 480px) {
      font-size: 2rem;
    }
  }

  p {
    margin: 0;
  }

  .date {
    margin-top: 2rem;
  }
}
